* {
  box-sizing: border-box;
}


.todo__wrapper {
  display:flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.navbar__button {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: aqua;
  color:blue;
}


h1 {
  color:azure;
  text-align: center;
  padding:40px;
  font-size:60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
  text-decoration:none;
  color:aliceblue;
}


.background {
  background-color: black;
}


.movie__poster {
  margin-left:150px;
}

.movie__title {
 color:lightblue;
 font-size:30px;
 text-align:center;
}

.movie__year {
  font-size:40px;
   text-align:center;
}


.search-btn {
    background-color:white;
    width:20%;
    height:40px;
    font-size:25px;
    margin-left:40px;
}

.About-btn {
display:flex;
padding:12px;
color:blue;
margin: 20px auto;
}

.Contact-btn {
  display:flex;
padding:12px;
margin: 20px auto;
margin-top:30px;
color:blue;
}

.search-input {
    
    width:50%;
    font-size:20px;
    border-radius:40px;
    margin-bottom:50px;
    margin-left: 50px;
  }
