* {
  box-sizing: border-box;
}


.todo__wrapper {
  display:flex;
  flex-wrap: wrap;
}


h1 {
  color:lightblue;
  text-align: center;
  padding:40px;
}


.background {
  background-color: black;
}


.movie__poster {
  margin-left:150px;
}
