* {
  box-sizing: border-box;
}


.todo__wrapper {
  display:flex;
  flex-wrap: wrap;
}


h1 {
  color:blue;
  text-align: center;
}


.background {
  background-color: black;
}

.Poster {
  text-align: center;
}
